<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
  <test name="Grouping demo">
  	<groups>
  		<run>
  			<include name="db" />
  			<!-- <include name="ui" /> -->
  		</run>
  	</groups>
  	<classes>
  		<class name="com.demo.D04_TestUI"/>
  	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->